<style>
      
       
                  body{
          
            background-color: white;
            
        }
           
            .rectanglecent0 {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 610px;
        width: 1280px;
        background-color: black
    }
        
    .rectanglecent {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 610px;
        width: 1280px;
        background-color: skyblue;
    }
            .rectanglecent1 {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 610px;
        width: 1280px;
        background-color: skyblue;
         animation: Spaceinvis 3s alternate-reverse infinite;
animation-delay: 0ms;
    }
        
        .Cent1 {
            position: absolute;
            left: 300px;
            top: 100px;
            height: 170.5px;
            width: 207.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 0ms;

        }
        .Cent2 {
            position: absolute;
            left: 430px;
            top: 104px;
            height: 167px;
            width: 173px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 80ms;
        }
            .Cent3 {
            position: absolute;
            left: 504px;
            top: 108px;
            height: 159px;
            width: 145px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 160ms;
        }
         .Cent4 {
            position: absolute;
            left: 575px;
            top: 113px;
            height: 152px;
            width: 137.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 240ms;
        }
         .Cent5 {
            position: absolute;
            left: 640px;
            top: 118px;
            height: 140.5px;
            width: 130.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 320ms;
        }
         .Cent6 {
            position: absolute;
            left: 700px;
            top: 120px;
            height: 129.5px;
            width: 128.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 400ms;
        }
         .Cent7 {
            position: absolute;
            left: 765px;
            top: 126px;
            height: 121.5px;
            width: 119.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 480ms;
        }
         .Cent8 {
            position: absolute;
            left: 822px;
            top: 130px;
            height: 102px;
            width: 114.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 560ms;
        }
         .Cent9 {
            position: absolute;
            left: 870px;
            top: 165px;
            height: 64.5px;
            width: 114.5px;
    animation: centmove 3s alternate-reverse infinite;
animation-delay: 640ms;
        }
        
        .text{
       position: absolute;
        top: 500px;
            left: 300px;
        }

 
         @keyframes Spaceinvis {
             0% {opacity: 0.1}
      
             100% {opacity: 0.6}

        
}
        
        @keyframes centmove{
            0%{transform: translate(0px, 200px)}
                100%{transform: translate(0px, 0px)}
        }
        
 
    

           body{
          
            background-color: white;
            
        }
        
        .blueroom{
             
             position: absolute;
             top: 0px;
             left: 0px;
             width: 1280px;
             height: 610px;
        
         }
    
        .static{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 880px;
            height: 610px;
        }
            .static1{
            position: absolute;
            top: 0px;
            left: 400px;
            width: 880px;
            height: 610px;
        }
        
        .table{
            position: absolute;
            top: 280px;
            left: 570px;
            width: 137px;
                height: 160px;
            
        }
        .book{
            position: absolute;
            top: 285px;
            left: 603px;
            width: 70px;
                height: 25px;
        }
        .whatsayyou
        {
            position: absolute;
            top: 450px;
            left: 435px;
            width: 420px;
            height: 70px;
            
            
        }

    
      body{
          
            background-color: white;
            
        }

    
    .rectanglee0 {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 610px;
        width: 1280px;
        background-color: whitesmoke;
    }
    
    
        .rectanglee {
        
    position: absolute;
    left: 590px;
    top: 30px;
  height: 41px;
  width: 100px;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
     .rectangleinvise {
        
    position: absolute;
    left: 590px;
    top: 30px;
  height: 41px;
  width: 100px;
         opacity: 0;
  background-color: red;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
            .rectanglee1 {
    position: absolute;
    left: 550px;
    top: 70px;
  height: 41px;
  width: 180px;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
                .rectangleinvis1 {
    position: absolute;
    left: 550px;
    top: 70px;
  height: 41px;
  width: 180px;
                    opacity: 0;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
    
    
                .rectanglee2 {
    position: absolute;
    left: 510px;
    top: 110px;
  height: 41px;
  width: 260px;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
                    .rectangleinvise2 {
    position: absolute;
    left: 510px;
    top: 110px;
  height: 41px;
  width: 260px;
     opacity: 0;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}

                    .rectanglee3 {
    position: absolute;
    left: 510px;
    top: 150px;
  height: 41px;
  width: 260px;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
                        .rectangleinvise3 {
    position: absolute;
    left: 510px;
    top: 150px;
  height: 41px;
  width: 260px;
opacity: 0;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
    
        .rectanglee4 {
    position: absolute;
    left: 550px;
    top: 190px;
  height: 41px;
  width: 180px;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}
        .rectangleinvise4 {
    position: absolute;
    left: 550px;
    top: 190px;
  height: 41px;
  width: 180px;
    opacity: 0;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
}

            .rectanglee5 {
    position: absolute;
    left: 590px;
    top: 230px;
  height: 41px;
  width: 100px;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
                
}
            .rectangleinvise5 {
    position: absolute;
    left: 590px;
    top: 230px;
  height: 41px;
  width: 100px;
    opacity: 0;
  background-color: #aadbf0;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
                
}
    
    .rectanglee6{
    position: absolute;
    left: 620px;
        top: 100px;
    height: 35px;
    width: 40px;
    background-color: black;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
    }
    
    
        .rectanglee7{
    position: absolute;
    left: 570px;
        top: 155px;
    height: 35px;
    width: 140px;
    background-color: black;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
    }

    .rectanglee8{
        position: absolute;
        left: 750px;
        top: 110px;
        height: 80px;
        width: 20px;
        background-color: #93c2d7;
animation: shakeab 0.2s alternate infinite;
animation-delay: 0ms;
        
    }
    
        .rectanglee9 {
    position: absolute;
    left: 590px;
    top: 300px;
  height: 41px;
  width: 100px;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
        .rectangleinvise6 {
    position: absolute;
    left: 590px;
    top: 300px;
  height: 41px;
  width: 100px;
            opacity: 0;
  background-color: #FCB216;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
    
            .rectanglee10 {
    position: absolute;
    left: 550px;
    top: 340px;
  height: 41px;
  width: 180px;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
            .rectangleinvise7 {
    position: absolute;
    left: 550px;
    top: 340px;
  height: 41px;
  width: 180px;
                opacity: 0;
  background-color: #FCB216;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
    
                .rectanglee11 {
    position: absolute;
    left: 510px;
    top: 380px;
  height: 41px;
  width: 260px;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}

                .rectangleinvise8 {
    position: absolute;
    left: 510px;
    top: 380px;
  height: 41px;
  width: 260px;
                    opacity: 0;
  background-color: #FCB216;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
                    .rectanglee12 {
    position: absolute;
    left: 510px;
    top: 420px;
  height: 41px;
  width: 260px;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
          .rectangleinvise9 {
    position: absolute;
    left: 510px;
    top: 420px;
  height: 41px;
  width: 260px;
              opacity: 0;
  background-color: #FCB216;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
    
    
        .rectanglee13 {
    position: absolute;
    left: 550px;
    top: 460px;
  height: 41px;
  width: 180px;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}
        .rectangleinvise10 {
    position: absolute;
    left: 550px;
    top: 460px;
  height: 41px;
  width: 180px;
            opacity: 0;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
}

            .rectanglee14 {
    position: absolute;
    left: 590px;
    top: 500px;
  height: 41px;
  width: 100px;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
                
}
            .rectangleinvise11 {
    position: absolute;
    left: 590px;
    top: 500px;
  height: 41px;
  width: 100px;
                opacity: 0;
  background-color: #e10809;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
                
}
    
    .rectanglee15 {
    position: absolute;
            left: 620px;
        top: 370px;
    height: 35px;
    width: 40px;
    background-color: black;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
    }
    
        .rectanglee16{
    position: absolute;
    left: 570px;
        top: 425px;
    height: 35px;
    width: 140px;
    background-color: black;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
    }

    .rectanglee17{
        position: absolute;
        left: 750px;
        top: 380px;
        height: 80px;
        width: 20px;
        background-color: #9f0708;
animation: shakeab 0.2s alternate-reverse infinite;
animation-delay: 0ms;
    }
    
        
    .AT1e {
  position: absolute;
        top: 105px;
  left: 800px;
          font-size: 80px;

}
    
        .AT2e {
  position: absolute;
        top: 375px;
  left: 800px;
          font-size: 80px;
}
    
    .rectanglee18{
    position: absolute;
    left: 0px;
    top: 0px;
     width: 106.5px;
       height: 610px;
         opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 0ms;
    }
        .rectanglee19{
    position: absolute;
    left: 106.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
             opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 200ms;
    }
        .rectanglee20{
    position: absolute;
    left: 213px;
    top: 0px;
     width: 106.5px;
       height: 610px;
             opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 400ms;
    }
            .rectanglee21{
    position: absolute;
    left: 319.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                 opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 600ms;
    }

                .rectanglee23{
    position: absolute;
    left: 426px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                     opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 800ms;
    }
                .rectanglee24{
    position: absolute;
    left: 532.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                     opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1000ms;
    }
                .rectanglee25{
    position: absolute;
    left: 639px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                     opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1200ms;
    }
                .rectanglee26{
    position: absolute;
    left: 745.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                     opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1400ms;
    }
                .rectanglee27{
    position: absolute;
    left: 852px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                     opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1600ms;
    }
                .rectanglee28{
    position: absolute;
    left: 958.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
                     opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1800ms;
    }
       .rectanglee29{
    position: absolute;
    left: 1065px;
    top: 0px;
     width: 106.5px;
                 height: 610px;
              opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 2000ms;
    }
       .rectanglee30{
    position: absolute;
    left: 1171.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
            opacity: 0;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 2200ms;
    }
    
            @keyframes Foganim{
        100%{opacity: 0.4}
                35%{opacity: 0.1}
        0%{opacity: 0.05}
        }
        @keyframes shakenormal {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}    
    
    @keyframes shakeab {
  0% { transform: translate(8px, 0px) rotate(0deg); }
  10% { transform: translate(-5px, 0px) rotate(0.-1deg); }
  20% { transform: translate(-4px, 1px) rotate(0.1deg); }
  30% { transform: translate(2px, 0px) rotate(0deg); }
  40% { transform: translate(-5px, 1px) rotate(0.1deg); }
  50% { transform: translate(1px, 0px) rotate(0.-1deg); }
  60% { transform: translate(9px, -1px) rotate(0deg); }
  70% { transform: translate(-5px, 0px) rotate(0.-1deg); }
  80% { transform: translate(1px, 1px) rotate(0.1deg); }
  90% { transform: translate(-4px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0.-1deg); }
}    
 
      
   .rectangleee{
            position: absolute;
             top: 0px;
             left: 0px;
             width: 500px;
             height: 200px;
             background-color: black;
         }
         
         .sunsetgif{
             
             position: absolute;
             top: 0px;
             left: 0px;
             width: 1280px;
             height: 610px;
        
         }
         
         .rectangleee1{
             
             position: absolute;
             top: 0px;
             left: 0px;
             width: 1280px;
             height: 610px;
             background-color: black;
               animation: Disappear 15s;
                       animation-delay: 0ms;
         }
         
         .rectangle2{
             
             position: absolute;
             top: 0px;
             left: 50px;
             width: 640px;
             height: 305px;
             opacity: 0;
    
               animation: appear 5s;
                       animation-delay: 17500ms;
         }
         .rectangle3{
             
             position: absolute;
             top: 305px;
             left: 50px;
             width: 640px;
             height: 305px;
             opacity: 0;
    
               animation: appear 5s;
                       animation-delay: 17500ms;
         }
         .rectangle4{
             
             position: absolute;
             top: 0px;
             left: 545px;
             width: 640px;
             height: 305px;
             opacity: 0;
    
               animation: appear 5s;
                       animation-delay: 17500ms;
         }
         .rectangle5{
             
             position: absolute;
             top: 305px;
             left: 545px;
             width: 640px;
             height: 305px;
             opacity: 0;
    
               animation: appear 5s;
                       animation-delay: 17500ms;
         }
    

          @keyframes Disappear{
              0%{opacity: 0}
                100%{opacity: 1}
        }
         
                   @keyframes appear{
              0%{opacity: 0}
                       10%{opacity 1}
                100%{opacity: 1}
        }

                 
  body{
          
            background-color: white;
            
        }

    
    .first0 {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 610px;
        width: 1280px;
        background-color: whitesmoke;
    }
    
    
        .first {
        
    position: absolute;
    left: 590px;
    top: 30px;
  height: 41px;
  width: 100px;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
     .rectangleinvis {
        
    position: absolute;
    left: 590px;
    top: 30px;
  height: 41px;
  width: 100px;
         opacity: 0;
  background-color: red;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
            .first1 {
    position: absolute;
    left: 550px;
    top: 70px;
  height: 41px;
  width: 180px;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
                .rectangleinvis1 {
    position: absolute;
    left: 550px;
    top: 70px;
  height: 41px;
  width: 180px;
                    opacity: 0;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
    
    
                .first2 {
    position: absolute;
    left: 510px;
    top: 110px;
  height: 41px;
  width: 260px;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}

                    .rectangleinvis2 {
    position: absolute;
    left: 510px;
    top: 110px;
  height: 41px;
  width: 260px;
     opacity: 0;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}

                    .first3 {
    position: absolute;
    left: 510px;
    top: 150px;
  height: 41px;
  width: 260px;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
                        .rectangleinvis3 {
    position: absolute;
    left: 510px;
    top: 150px;
  height: 41px;
  width: 260px;
opacity: 0;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
    
        .first4 {
    position: absolute;
    left: 550px;
    top: 190px;
  height: 41px;
  width: 180px;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}
        .rectangleinvis4 {
    position: absolute;
    left: 550px;
    top: 190px;
  height: 41px;
  width: 180px;
    opacity: 0;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
}

            .first5 {
    position: absolute;
    left: 590px;
    top: 230px;
  height: 41px;
  width: 100px;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
                
}
            .rectangleinvis5 {
    position: absolute;
    left: 590px;
    top: 230px;
  height: 41px;
  width: 100px;
    opacity: 0;
  background-color: #4385F6;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
                
}
    
    .first6{
    position: absolute;
    left: 620px;
        top: 100px;
    height: 35px;
    width: 40px;
    background-color: black;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
    }
    
    
        .first7{
    position: absolute;
    left: 570px;
        top: 155px;
    height: 35px;
    width: 140px;
    background-color: black;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
    }

    .first8{
        position: absolute;
        left: 750px;
        top: 110px;
        height: 80px;
        width: 20px;
        background-color: #346EC1;
animation: shake 3s alternate infinite;
animation-delay: 0ms;
        
    }
    
        .first9 {
    position: absolute;
    left: 590px;
    top: 300px;
  height: 41px;
  width: 100px;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
        .rectangleinvis6 {
    position: absolute;
    left: 590px;
    top: 300px;
  height: 41px;
  width: 100px;
            opacity: 0;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
    
            .first10 {
    position: absolute;
    left: 550px;
    top: 340px;
  height: 41px;
  width: 180px;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
            .rectangleinvis7 {
    position: absolute;
    left: 550px;
    top: 340px;
  height: 41px;
  width: 180px;
                opacity: 0;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
    
                .first11 {
    position: absolute;
    left: 510px;
    top: 380px;
  height: 41px;
  width: 260px;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}

                .rectangleinvis8 {
    position: absolute;
    left: 510px;
    top: 380px;
  height: 41px;
  width: 260px;
                    opacity: 0;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
                    .first12 {
    position: absolute;
    left: 510px;
    top: 420px;
  height: 41px;
  width: 260px;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
          .rectangleinvis9 {
    position: absolute;
    left: 510px;
    top: 420px;
  height: 41px;
  width: 260px;
              opacity: 0;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
    
    
        .first13 {
    position: absolute;
    left: 550px;
    top: 460px;
  height: 41px;
  width: 180px;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
        .rectangleinvis10 {
    position: absolute;
    left: 550px;
    top: 460px;
  height: 41px;
  width: 180px;
            opacity: 0;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
}
            .first14 {
    position: absolute;
    left: 590px;
    top: 500px;
  height: 41px;
  width: 100px;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
                
}
            .rectangleinvis11 {
    position: absolute;
    left: 590px;
    top: 500px;
  height: 41px;
  width: 100px;
                opacity: 0;
  background-color: #FCB216;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
                
}
    
    .first15 {
    position: absolute;
            left: 620px;
        top: 370px;
    height: 35px;
    width: 40px;
    background-color: black;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
    }
    
        .first16{
    position: absolute;
    left: 570px;
        top: 425px;
    height: 35px;
    width: 140px;
    background-color: black;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
    }

    .first17{
        position: absolute;
        left: 750px;
        top: 380px;
        height: 80px;
        width: 20px;
        background-color: #C4871A;
animation: shake 3s alternate-reverse infinite;
animation-delay: 0ms;
    }
    
        
    .AT1 {
  position: absolute;
        top: 105px;
  left: 800px;
          font-size: 80px;

}
    
        .AT2 {
  position: absolute;
        top: 375px;
  left: 800px;
          font-size: 80px;
}
    
    .first18{
    position: absolute;
    left: 0px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 0ms;
    }
        .first19{
    position: absolute;
    left: 106.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 200ms;
    }
        .first20{
    position: absolute;
    left: 213px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 400ms;
    }
            .first21{
    position: absolute;
    left: 319.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 600ms;
    }

                .first23{
    position: absolute;
    left: 426px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 800ms;
    }
                .first24{
    position: absolute;
    left: 532.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1000ms;
    }
                .first25{
    position: absolute;
    left: 639px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1200ms;
    }
                .first26{
    position: absolute;
    left: 745.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1400ms;
    }
                .first27{
    position: absolute;
    left: 852px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1600ms;
    }
                .first28{
    position: absolute;
    left: 958.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 1800ms;
    }
       .first29{
    position: absolute;
    left: 1065px;
    top: 0px;
     width: 106.5px;
            height: 610px;
  background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 2000ms;
    }
       .first30{
    position: absolute;
    left: 1171.5px;
    top: 0px;
     width: 106.5px;
       height: 610px;
    background-color: black;
         animation: Foganim 3s alternate-reverse infinite;
                       animation-delay: 2200ms;
    }
    
            @keyframes Foganim{
        100%{opacity: 0.4}
                35%{opacity: 0.1}
        0%{opacity: 0.05}
        }
    
    @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}    
    @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



        
        body{
        background-color: white;
        }
        
        .hiderect{
            position: absolute;
            top: 0px;
            left: 0px;
            height:200px;
            width:500px;
            background-color: white;
        }
        .bookbackground{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1288px;
        }
 .dream1{
position: absolute;
top: 20px;
left: 30px;
height: 400px;
width: 400px;
    animation: charwiggle 12s alternate-reverse infinite;      
     animation-delay: 0ms;
        }
        
         .dream2{
position: absolute;
top: 0px;
left: 1080px;
height: 200px;
width: 200px;
    animation: charwiggle 12s alternate-reverse infinite;       
             animation-delay: 0ms;
            
        }
             .dream3{
position: absolute;
top: 30px;
left: 900px;
height: 400px;
width: 300px;
       animation: charwiggle 12s alternate-reverse infinite;
            animation-delay: 100ms;
        }
                 .dream4{
position: absolute;
top: 170px;
left: 760px;
height: 300px;
width: 320px;
     animation: charwiggle 12s alternate-reverse infinite;   
                     animation-delay: 200ms;
        }
        
             .dream5{
position: absolute;
top: 800px;
left: 760px;
height: 500px;
width: 500px;
     animation: charwiggle 12s alternate-reverse infinite;   
                     animation-delay: 300ms;
        }
            .dream6{
position: absolute;
top: 1000px;
left: 500px;
height: 400px;
width: 400px;
     animation: charwiggle 12s alternate-reverse infinite;   
                     animation-delay: 400ms;
        }
        
         .dream7{
position: absolute;
top: 2300px;
left: 400px;
height: 500px;
width: 500px;
     animation: charwiggle 12s alternate-reverse infinite;   
                     animation-delay: 500ms;
        }
        
        
        
        .dream8{
            position: absolute;
        top: 300px;
            left: 500px;
            width: 400px;
            height: 400px;
     animation: charwiggle 12s alternate-reverse infinite;   
                     animation-delay: 800ms;
            
        }
        
        .dream9{
            position: absolute;
            top: 480px;
            left: 100px;
            width: 500px;
            height: 500px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 600ms;
            
        }
        .dream10{
            position: absolute;
            top: 600px;
            left: 700px;
            width: 400px;
            height: 400px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 700ms;
            
        }
        
        .dream11{
            position: absolute;
            top: 800px;
            left: 200px;
            width: 300px;
            height: 300px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 900ms;
            
        }
        .dream12{
            position: absolute;
            top: 1000px;
            left: 100px;
            width: 300px;
            height: 300px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1000ms;
            
        }
        .dream13{
            position: absolute;
            top: 1200px;
            left: 0px;
            width: 300px;
            height: 300px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1200ms;
            
        }
        .dream14{
            position: absolute;
            top: 1300px;
            left: 580px;
            width: 700px;
            height: 700px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1100ms;
            
        }
            .dream15{
            position: absolute;
            top: 1200px;
            left: 200px;
            width: 500px;
            height: 500px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1500ms;
            
        }
        .dream16{
            position: absolute;
                top: 1600px;
            left: 300px;
            width: 500px;
            height: 600px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1400ms;
            
        }
        
            .dream17{
            position: absolute;
            top: 2100px;
            left: 600px;
            width: 400px;
            height: 400px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1300ms;
            
        }
        .dream18{
               position: absolute;
            top: 2280px;
            left: 110px;
            width: 200px;
            height: 200px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1600ms;
          
        }
        .dream19{
               position: absolute;
            top: 2080px;
            left: 810px;
            width: 450px;
            height: 450px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1700ms;
          
        }
        .dream20{
               position: absolute;
            top: 2580px;
            left: 110px;
            width: 400px;
            height: 400px;
    animation: charwiggle 12s alternate-reverse infinite;      animation-delay: 1800ms;
          
        }
        .exitsquare{
            position: absolute;
            top: 2820px;
            left: 1140px;
            width: 148px;
            height: 130px;
        }
            .exitsquare1{
            position: absolute;
            top: 2900px;
            left: 540px;
            width: 700px;
            height: 40px;
        }
                .exitsquare2{
            position: absolute;
            top: 2870px;
            left: 960px;
            width: 200px;
            height: 40px;
        }
        
        .bookbackgroundexit{
            
        position: absolute;
            top: 0px;
            left: 0px;
            width: 1288px;
            
        }
        .fullscreentext{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1280px;
            height: 3000px;
            opacity: .3;
                      animation: charwiggle1 12s alternate infinite;
           animation-delay: 0ms;
        }
        .fullscreentext1{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 1280px;
            height: 3000px;
            opacity: .3;
                      animation: charwiggle1 12s alternate-reverse infinite;
           animation-delay: 300ms;
        }
            .fullscreentext2{
            position: absolute;
            top: -15px;
            left: 0px;
            width: 1280px;
            height: 3000px;
            opacity: .3;
                          animation: charwiggle1 12s alternate infinite;
           animation-delay: 0600ms;
        }
    
        .garble{
       position: absolute;
        top: 410px;
        left: 30px;
            width: 400px;
            height: 400px;
              animation: charwiggle 12s alternate-reverse infinite; 
            animation-delay: 0ms;
        
        }
        
                .garble1{
       position: absolute;
        top: 403px;
        left: 33px;
            width: 400px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;        
animation-delay: 100ms;   
        }
                .garble2{
       position: absolute;
        top: -10px;
        left: 500px;
            width: 780px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;         
         animation-delay: 200ms;
        }
        
                        .garble3{
       position: absolute;
        top: 70px;
        left: 500px;
            width: 780px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;           
          animation-delay: 300ms;
        }
        
       .garble4{
       position: absolute;
        top: 200px;
        left: 0px;
            width: 1200px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;     
           animation-delay: 400ms;
        }
        
      .garble5{
       position: absolute;
        top: 1000px;
        left: 860px;
            width: 300px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;     
           animation-delay: 500ms;
        }
      .garble6{
       position: absolute;
        top: 160px;
        left: 260px;
            width: 600px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;     
           animation-delay: 600ms;
        }
        
              .garble7{
       position: absolute;
        top: 1290px;
        left: 830px;
            width: 350px;
            height: 400px;
          animation: charwiggle1 0.3s alternate infinite;    
           animation-delay: 700ms;
        }
            
              .garble8{
       position: absolute;
        top: 500px;
        left: 780px;
            width: 400px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;     
           animation-delay: 800ms;
        }
        
              .garble9{
       position: absolute;
        top: 500px;
        left: 780px;
            width: 400px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;     
           animation-delay: 900ms;
        }
                  .garble10{
       position: absolute;
        top: 360px;
        left: 320px;
            width: 400px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;
           animation-delay: 1000ms;
        }
              .garble11{
       position: absolute;
        top: 2460px;
        left: 710px;
            width: 350px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;
           animation-delay: 1100ms;
        }
                  .garble12{
       position: absolute;
        top: 1180px;
        left: 310px;
            width: 350px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;
           animation-delay: 1200ms;
        }
        
                          .garble13{
       position: absolute;
        top: 1580px;
        left: 710px;
            width: 350px;
            height: 400px;
          animation: charwiggle1 12s alternate infinite;
           animation-delay: 1300ms;
        }
              .garble14{
       position: absolute;
        top: 1880px;
        left: 850px;
            width: 300px;
            height: 400px;
          animation: charwiggle1 0.1s alternate infinite;     
           animation-delay: 1400ms;
        }
              .garble15{
       position: absolute;
        top: 2800px;
        left: 850px;
            width: 300px;
            height: 100px;
          animation: charwiggle1 12s alternate infinite;     
           animation-delay: 1500ms;
        }
        

    

    @keyframes charwiggle {
  0% { transform: translate(8px, 2px) rotate(0deg); }
  10% { transform: translate(-5px, 0px) rotate(0.-1deg); }
  20% { transform: translate(-4px, 1px) rotate(0.1deg); }
  30% { transform: translate(2px, -1px) rotate(0deg); }
  40% { transform: translate(-5px, 2px) rotate(0.1deg); }
  50% { transform: translate(1px, 0px) rotate(0.-1deg); }
  60% { transform: translate(9px, -1px) rotate(0deg); }
  70% { transform: translate(-5px, 0px) rotate(0.-1deg); }
  80% { transform: translate(1px, 1px) rotate(0.1deg); }
  90% { transform: translate(-4px, 0px) rotate(0deg); }
  100% { transform: translate(5px, -2px) rotate(0.-1deg); }
        }
    @keyframes charwiggle1 {
  0% { transform: translate(8px, 2px) rotate(0deg); }
  10% { transform: translate(-5px, 0px) rotate(0.-1deg); }
  20% { transform: translate(-4px, 1px) rotate(0.1deg); }
  30% { transform: translate(2px, -1px) rotate(0deg); }
  40% { transform: translate(-5px, 2px) rotate(0.1deg); }
  50% { transform: translate(1px, 0px) rotate(0.-1deg); }
  60% { transform: translate(9px, -1px) rotate(0deg); }
  70% { transform: translate(-5px, 0px) rotate(0.-1deg); }
  80% { transform: translate(1px, 1px) rotate(0.1deg); }
  90% { transform: translate(-4px, 0px) rotate(0deg); }
  100% { transform: translate(5px, -2px) rotate(0.-1deg); }
}    

    
    
    
    
        
</style>
     